.padding-15 {
  padding: 15px;
}

.padding-vertical-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.padding-vertical-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.border-color-black {
  border-color: $black;
}

.no-horz-padding {
  padding-left: 0;
  padding-right: 0;
}

.font-color-dark-gray {
  color: $pdx-colour-dark-grey;
}

.font-color-blue {
  color: $pdx-colour-blue;
}

.font-color-cyan {
  color: $pdx-colour-cyan;
}

.font-color-white {
  color: $white;
}

.font-style-underline {
  text-decoration: underline;
}

.background-color-dark-white {
  background-color: $pdx-colour-dark-white;
}

.background-color-primary {
  background-color: $primary-color;
}

.background-color-twitter {
  background-color: $twitter;
}

.background-color-facebook {
  background-color: $facebook;
}

.background-color-instagram {
  background-color: $instagram;
}

.min-height-300 {
  min-height: 300px;
}

.min-height-400 {
  min-height: 400px;
}

.full-height {
  height: 100%;
}