// Include the common settings
@import '../node_modules/ebi-framework/css/ebi-css-build/ebi_theme_settings';
@import '../node_modules/ebi-framework/css/ebi-css-build/ebi_dev_note';
@import 'node_modules/foundation-sites/scss/util/util';
@import 'node_modules/foundation-sites/scss/global';
@import '_app_theme.scss';

// simple imports for the font while we test
@import 'https://code.cdn.mozilla.net/fonts/fira.css';
@import 'https://cdn.rawgit.com/tonsky/FiraCode/1.204/distr/fira_code.css';

// EBI Visual framework sass imports
@import 'node_modules/ebi-framework/css/ebi-css-build/badge'; // custom badge class
@import 'node_modules/ebi-framework/css/ebi-css-build/pagination'; // custom badge class
@import 'node_modules/ebi-framework/css/ebi-css-build/ebi_visibility'; // extra visibility classes
@import 'node_modules/ebi-framework/css/ebi-css-build/ebi_foundation_overides';
@import '../node_modules/ebi-framework/css/ebi-css-build/ebi_base_styles';
@import '../node_modules/ebi-framework/css/ebi-css-build/ebi_utility_styles';
@import '../node_modules/ebi-framework/css/ebi-css-build/ebi_table_styles';
@import '../node_modules/ebi-framework/css/ebi-css-build/ebi_print_styles';
@import '../node_modules/ebi-framework/css/ebi-css-build/ebi_masthead_styles';
@import '../node_modules/ebi-framework/css/ebi-css-build/ebi_footer_styles';
@import '../node_modules/ebi-framework/css/ebi-css-build/ebi_related_pattern';
@import '../node_modules/ebi-framework/css/ebi-css-build/ebi_code_styles';
@import '../node_modules/ebi-framework/css/ebi-css-build/ebi_color_styles';
@import '../node_modules/ebi-framework/css/ebi-css-build/ebi_clearable_inputs';
@import '../node_modules/ebi-framework/css/ebi-css-build/ebi_tag';
@import '../node_modules/ebi-framework/css/ebi-css-build/embl_selector'; // EMBL Dropdown selector for .masthead-black-bar

// Include Foundation dependencies in the build
// Via: https://github.com/zurb/foundation-sites/issues/9467#issuecomment-267598540
@import 'node_modules/foundation-sites/_vendor/normalize-scss/sass/normalize';
@import 'node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/helpers/missing-dependencies';
@import 'node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/helpers/true';
@import 'node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/functions/purge';
@import 'node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/functions/remove';
@import 'node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/functions/replace';
@import 'node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/functions/to-list';

// Components
@import 'node_modules/foundation-sites/scss/grid/grid';
@import 'node_modules/foundation-sites/scss/typography/typography';
@import 'node_modules/foundation-sites/scss/forms/forms';
@import 'node_modules/foundation-sites/scss/components/visibility';
@import 'node_modules/foundation-sites/scss/components/float';
@import 'node_modules/foundation-sites/scss/components/button';
@import 'node_modules/foundation-sites/scss/components/button-group';
@import 'node_modules/foundation-sites/scss/components/accordion-menu';
@import 'node_modules/foundation-sites/scss/components/accordion';
// @import 'node_modules/foundation-sites/scss/components/badge'; // EBI override to remove sizing spec
@import 'node_modules/foundation-sites/scss/components/breadcrumbs';
@import 'node_modules/foundation-sites/scss/components/callout';
@import 'node_modules/foundation-sites/scss/components/close-button';
@import 'node_modules/foundation-sites/scss/components/drilldown';
@import 'node_modules/foundation-sites/scss/components/dropdown-menu';
@import 'node_modules/foundation-sites/scss/components/dropdown';
@import 'node_modules/foundation-sites/scss/components/flex';
@import 'node_modules/foundation-sites/scss/components/responsive-embed';
@import 'node_modules/foundation-sites/scss/components/label';
@import 'node_modules/foundation-sites/scss/components/media-object';
@import 'node_modules/foundation-sites/scss/components/menu';
@import 'node_modules/foundation-sites/scss/components/menu-icon';
@import 'node_modules/foundation-sites/scss/components/off-canvas';
@import 'node_modules/foundation-sites/scss/components/orbit';
// @import 'node_modules/foundation-sites/scss/components/pagination'; // EBI override
@import 'node_modules/foundation-sites/scss/components/progress-bar';
@import 'node_modules/foundation-sites/scss/components/reveal';
@import 'node_modules/foundation-sites/scss/components/slider';
@import 'node_modules/foundation-sites/scss/components/sticky';
@import 'node_modules/foundation-sites/scss/components/switch';
@import 'node_modules/foundation-sites/scss/components/table';
@import 'node_modules/foundation-sites/scss/components/tabs';
@import 'node_modules/foundation-sites/scss/components/title-bar';
@import 'node_modules/foundation-sites/scss/components/top-bar';
@import 'node_modules/foundation-sites/scss/components/thumbnail';
@import 'node_modules/foundation-sites/scss/components/tooltip';
// @import 'libraries/motion-ui/src/motion-ui';



// Core Foundation includes
// Note: The EBI Visual framework does not use flex at the moment
@mixin foundation-everything($flex: false) {
  @if $flex {
    $global-flexbox: true !global;
  }

  @include foundation-global-styles;
  @if not $flex {
    @include foundation-grid;
  }
  @else {
    @include foundation-flex-grid;
  }
  @include foundation-typography;
  @include foundation-forms;
  @include foundation-button;
  @include foundation-accordion;
  @include foundation-accordion-menu;
  @include foundation-badge;
  @include foundation-breadcrumbs;
  @include foundation-button-group;
  @include foundation-callout;
  @include foundation-close-button;
  @include foundation-menu;
  @include foundation-menu-icon;
  @include foundation-drilldown-menu;
  @include foundation-dropdown;
  @include foundation-dropdown-menu;
  @include foundation-responsive-embed;
  @include foundation-label;
  @include foundation-media-object;
  @include foundation-off-canvas;
  @include foundation-orbit;
  @include foundation-pagination;
  @include foundation-progress-bar;
  @include foundation-slider;
  @include foundation-sticky;
  @include foundation-reveal;
  @include foundation-switch;
  @include foundation-table;
  @include foundation-tabs;
  @include foundation-thumbnail;
  @include foundation-title-bar;
  @include foundation-tooltip;
  @include foundation-top-bar;
  @include foundation-visibility-classes;
  @include foundation-float-classes;

  @if $use-animations {
    @include motion-ui-transitions;
    @include motion-ui-animations;
  }

  @if $flex {
    @include foundation-flex-classes;
  }
}

// include Foundation
@include foundation-everything;

// ebi-specific fixes
@include ebi-foundation-overides;

// Include all EBI styles
$include-ebi-global-styles: true !global;
$include-ebi-extra-styles: true !global;

// ebi-styles
@if $include-ebi-global-styles {
  @include ebi-base-styles;
  @include ebi-utility-styles;
  @include ebi-masthead-styles;
  @include ebi-footer-styles;
  @include ebi-color-styles;
  @include embl-selector;
}
@if $include-ebi-extra-styles {
  @include ebi-print-styles;
  @include ebi-clearable-inputs;
  @include ebi-table-styles;
  @include ebi-code-styles;
  @include ebi-related-pattern;
  @include ebi-tag;
  @include ebi-visibility;
}
